body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  text-align: center;
  margin-top: 20%;
}

input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* Styles for container and login */
.container {
  text-align: center;
  margin-top: 10%;
}

.login {
  margin-bottom: 20px;
}

/* Styles for game selection buttons */
#gameSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameSelection button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#gameSelection button:hover {
  background-color: #45a049;
}

/* Styles for games */
.game {
  display: none;
}

.hidden {
  display: none;
}
